.form-txt{
  font-size: 20px;
}

.imp{
  color:red;
}
.form-txt[_ngcontent-c3] {
 opacity: 20%;
  font-size:14px;
}
h3{
  color:#625eeb;
}
.look{
  border: #625eeb solid 2px;
}

.position{
margin: 5% 20% 0% 40%;
background-color:#625eeb;
color :white;
font-size: 18px;
}
.widthCss{
  width: 100%;
}

