<!-- <p>hello</p> -->
<mat-card multi="true">
  <form
    action="#"
    (submit)="onAddPost(postForm)"
    #postForm="ngForm"
    multi="true"
  >
    <!-- name -->
    <div>
      <mat-form-field class="ui-md-12">
        <input
          matInput
          type="text"
          name="first_name"
          ngModel
          required
          #first_name="ngModel"
          placeholder="First name"
        />
        <mat-error *ngIf="first_name.invalid"
          >Please enter first name</mat-error
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="ui-md-4">
        <input
          matInput
          type="text"
          name="middle_name"
          ngModel
          required
          #middle_name="ngModel"
          placeholder="Middle name"
        />
        <mat-error *ngIf="middle_name.invalid"
          >Please enter middle name</mat-error
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="ui-md-4">
        <input
          matInput
          type="text"
          name="last_name"
          ngModel
          required
          #last_name="ngModel"
          placeholder="Last name"
        />
        <mat-error *ngIf="last_name.invalid">Please enter last name</mat-error>
      </mat-form-field>
    </div>
    <!-- email -->

    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        required
        #email="ngModel"
        placeholder="email"
      />
      <mat-error *ngIf="email.invalid">Please enter email</mat-error>
    </mat-form-field>

    <!-- password -->

    <mat-form-field>
      <input
        type="password"
        name="password"
        matInput
        ngModel
        required
        #password="ngModel"
        placeholder="password"
      />
      <mat-error *ngIf="password.invalid">Please enter password</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">save post</button>
  </form>
</mat-card>

<!-- table -->

<!-- <button mat-raised-button type="submit" color="primary" (click)="getdata()">
  Display
</button> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">first_name</th>
      <th scope="col">middle_name</th>
      <th scope="col">last_name</th>
      <th scope="col">email</th>
      <th scope="col">password</th>
      <th scope="col">id</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userData.response">
      <td class="casechange">{{ item.first_name }}</td>
      <td class="casechange">{{ item.middle_name }}</td>
      <td class="casechange">{{ item.last_name }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.password }}</td>
      <td>{{ item._id }}</td>
      <td (click) = "updateuserdata(item._id)">
        <p data-placement="top" data-toggle="tooltip" title="Edit">
          <button
            class="btn btn-primary btn-xs"
            data-title="Edit"
            data-toggle="modal"
            data-target="#edit"
          >
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </p>
      </td>
      <td (click) = "deleteuserdata(item._id)">
        <p data-placement="top" data-toggle="tooltip" title="Delete">
          <button
            class="btn btn-danger btn-xs"
            data-title="Delete"
            data-toggle="modal"
            data-target="#delete"
          >
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </p>
      </td>
    </tr>
  </tbody>
</table>


<!-- (click) = "deleteProduct(item._id)" -->
